*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .banner-section{
  margin: 0 140px;

}
.banner{
  background-image: url("./images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
} */
/* .banner{
  background: linear-gradient(180deg, rgba(3, 7, 18, 0.50) 0%, rgba(3, 7, 18, 0.00) 100%);
} */